<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reviews</h1>
    <main>
        <form action="/reviews" method="POST">
            <label for="items">Choose a product</label>
            <select name="items" id="items">
                <option value="read madrid">Real Madrid</option>
                <option value="chelsea">Chelsea</option>
                <option value="inter milan">Inter Milan</option>
                <option value="barcelona">Barcelona</option>
                <option value="manchester united">Manchester United</option>
                <option value="juventus">Juventus</option>
                <option value="other">Other</option>
            </select> <br/>
            Name: <input type="text" name="name" > <br/>
            Review: <textarea name="review" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit">

        </form>
    </main>
    <main>
        <h2>All Reviews</h2>
        <ul>
            <% for(let i = 0; i < reviews.length; i++) { %>
                    <li>
                        <a href="/reviews/<%=reviews[i]._id%>"><%= reviews[i].title %></a>
                    </li>
          <% } %>
        </ul>
    </main>
</body>
</html>